@import "../SignIn/SignIn.scss";

.edit-icon-hovered:hover .edit-icon {
  opacity: 1;
}

.edit-icon-hovered:hover .edit-btn {
  color: rgb(255, 203, 49);
}

.login-icon-hovered:hover .login-icon {
  opacity: 1;
}

.login-icon-hovered:hover .login-btn {
  color: rgb(32, 121, 255);
}

.register-icon-hovered:hover .register-icon {
  opacity: 1;
}

.register-icon-hovered:hover .register-btn {
  color: rgb(32, 121, 255);
}

// movable key icon label styles
svg.key-icon {
  transition: all .3s;
}

svg.key-icon {
  right: 125px;
  top: 12px;
}

@media screen and (max-width: 1024px) {
  svg.key-icon {
    right: 103px;
    top: 7px;
  }
}

@media screen and (max-width: 768px) {
  svg.key-icon {
    right: 91px;
    top: 7px;
  }
}

@media screen and (max-width: 640px) {
  svg.key-icon {
    right: 89px;
    top: 3px;
  }
}