.navigate-icon {
  transform: translate3d(-3px, 3px, 0);
}

.cart-ping-sidebar {
  right: 76px;
  bottom: 44px;

  &-font-size {
    font-size: .6rem;
  }
}

@media screen and (max-width: 768px) {
  .cart-ping-sidebar {
    right: 67px;
    bottom: 43px;

    &-font-size {
      font-size: .5rem;
    }
  }
}