// Styles for dynamic elements (labels and icons) 
label.labels {
  right: 40px;
  top: 10px;
  transition: all .3s;
}

svg.phone-icon,
svg.lock-icon {
  transition: all .3s;
}

svg.phone-icon {
  right: 124px;
  top: 12px;
}

svg.lock-icon {
  right: 96px;
  top: 12px;
}

svg.eye-icon {
  left: 36px;
  bottom: 17px;
}

label.focused {
  top: -16px;
}

svg.focused {
  top: -10px;
}

span.pre-number {
  left: 32px;
  top: 0px;
}

@media screen and (max-width: 1024px) {
  label.labels {
    right: 32px;
    top: 10px;
  }

  svg.phone-icon {
    right: 100px;
    top: 8px;
  }

  svg.lock-icon {
    right: 75px;
    top: 8px;
  }

  svg.eye-icon {
    left: 28px;
    bottom: 12px;
  }

  label.focused {
    top: -11px;
  }

  svg.focused {
    top: -14px;
  }

  span.pre-number {
    left: 26px;
    top: 0px;
  }
}

@media screen and (max-width: 768px) {
  label.labels {
    right: 30px;
    top: 12px;
  }

  svg.phone-icon {
    right: 89px;
    top: 8px;
  }

  svg.lock-icon {
    right: 67px;
    top: 8px;
  }

  svg.eye-icon {
    left: 26px;
    bottom: 11px;
  }

  label.focused {
    top: -10px;
  }

  svg.focused {
    top: -12px;
  }

  span.pre-number {
    left: 24px;
    top: 0px;
  }
}

@media screen and (max-width: 640px) {
  label.labels {
    right: 28px;
    top: 6px;
  }

  svg.phone-icon {
    right: 87px;
    top: 2px;
  }

  svg.lock-icon {
    right: 65px;
    top: 2px;
  }

  svg.eye-icon {
    left: 23px;
    bottom: 7px;
  }

  label.focused {
    top: -10px;
  }

  svg.focused {
    top: -14px;
  }

  span.pre-number {
    left: 22px;
    top: 4.5px;
  }
}

.submit-success,
.submit-err {
  position: absolute;
  opacity: 1;
  transform: translateY(-50px);
}

.submit-success.show,
.submit-err.show {
  transform: translateY(12px);
  opacity: 0;
  transition: transform .4s ease-in-out, opacity .8s ease-in-out 1.8s;
}

.submit-err.show-alert,
.show-api-err {
  transform: translateY(50px);
  transition: transform .4s ease-in-out;
}

// Loading animation
.spinner {
  animation: rotate 2s linear infinite;
  width: 30px;
  height: 30px;

  & .path {
    stroke: white;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

@media screen and (max-width: 1024px) {
  .spinner {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .spinner {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 640px) {
  .spinner {
    width: 15px;
    height: 15px;
  }
}