// Imports
@import url("https://v1.fontapi.ir/css/Vazir");
@import url("https://v1.fontapi.ir/css/Sahel");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500");

// Fonts
$font-vazir: Vazir, Tahoma, sans-serif;
$font-sahel: Sahel, Tahoma, sans-serif;
$font-raleway: Raleway, Arial, sans-serif;
$font-fira: 'fira code', Arial, sans-serif;

@font-face {
  font-family: Vazir;
  src: url("../src/assets/fonts/Vazir.eot") format("eot") url("../src/assets/fonts/Vazir.ttf") format("ttf") url("../src/assets/fonts/Vazir.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url("../src/assets/fonts/Sahel.eot") format("eot") url("../src/assets/fonts/Sahel.ttf") format("ttf") url("../src/assets/fonts/Sahel.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url("../src/assets/fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'fira code';
  src: url("../src/assets/fonts/FiraCode-Regular.otf") format("otf");
  font-weight: normal;
}

// Colors
$color-primary: #2563eb;
$color-success: #22c55e;
$color-dark: #334155;
$color-error: #ef4444;
$color-warning: #f97316;

.active:not(.footer-about-us-link, .footer-products-link, .footer-home-link, .profile-link, .cart-link) {
  @apply bg-blue-500 text-white;
}